.aside-minimize .brand-logo h1 {
    display: none;
}

.table th {
    color: #1BC5BD
}

.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label {
    color: #1BC5BD
}

.kt_datatable td:hover {
    cursor: pointer;
}
